<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quos provident eum voluptate eius hic delectus, veniam repudiandae sunt, rem debitis. Dignissimos, corporis natus ipsum omnis earum, veritatis, sapiente aliquid aperiam sequi quaerat dolore! Similique quidem nostrum saepe laborum asperiores!</p>
    </div>
</div>