<div class='jumbotron mt-4'>
    <h1 class='display-4'>BaaS Assets API</h1>
    <p class="lead">API which exposes mongoDB instances.</p>
    <hr class="my-4">
    <p>You can use the 4 basic verbs to interact with the database. Available methods about data are: POST(single and multiple), GET(single and multiple), UPDATE(single), DELETE(single). Available methods about collections are: POST(single file)</p>
    {{!-- <a href='http://google.com' class="btn btn-primary btn-lg">MiWeb</a> --}}
</div>>